@charset "utf-8";
html{
    font-size: 62.5%;
}
body{
    font-family: "Kiwi Maru", serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: gray;
  background-color: #ffffff;
}

a {
    color: gray;
}
/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
    justify-content: space-between;
}
#container{
    width: 75%;
    border-right: 1px solid #6C6C6C;
}
#side-bar{
    width: 25%;
    padding-top: 2rem;
}

/* ヘッダー */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 10rem;
}

.header h1 {
    padding-left: 5rem;
}

.menu {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.menu p {
    margin: 0 2rem;
    color: #fff;
}

.menu img {
    margin: 0 2rem;
    border-radius: 50%;
}

/* プルダウン */
.g-nav {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    right: 0;
    top: 10rem;
    width: 25%;
}

.nav-item {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #6C6C6C;
    border-left: 1px solid #6C6C6C;
    border-right: 1px solid #6C6C6C;
    padding: 2rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: coral;
    color: #fff;
}

/* やじるし */
.menu-trigger {
    position: relative;
    width: 3rem;
    height: 4.3rem;
    margin: 0 2rem;
}

.menu-trigger span{
    display: block;
    position: absolute;
    width: 3rem;
border-bottom: solid 3px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
}
.menu-trigger span:nth-child(1) {
    top: 0.6rem;
  }
  .menu-trigger span:nth-child(2) {
    top: 1.8rem;
  }
  .menu-trigger span:nth-child(3) {
    top: 3rem;
  }
  /* 1番上のspan要素をマイナス45度方向に回す */
.menu-trigger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
}

/* 2番目と3番目のspan要素を45度方向に回す */
.menu-trigger.active span:nth-child(2),
.menu-trigger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
}

/* サイドバー */
#confirm {
    border-bottom: 1px solid gray;
    padding: 0 3rem;
    height: 30rem;
}
.confirm-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.btn {
    display: flex;
   justify-content: center;
   align-items: center;
    background: #3C4767;
    margin: 3rem 0 3rem auto;
    height: 5rem;
    width: 15rem;
    color: #fff;
    border-radius: 10px;
}

.search-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #3C4767;
    color: #fff;
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    margin: 3rem auto;
}

/*　投稿画面　*/
.post-wrapper {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid gray;
    padding: 2rem 1rem;
    width: auto;
}
.post-wrapper img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
input.form-control {
    height: 5rem;
    vertical-align: top;
    border: solid 0px;
    width: 100%;
}
.post-item {
    margin: 0 1rem;
    width: 70%;
}
.submit {
    height: 3rem;
    width: 3rem;
}
/*　タイムライン　*/
.timeline-wrapper {
    border-bottom: 1px solid gray;
    padding: 2rem 4rem;
    display: flex;
}
.timeline-image {
    width: 10%;
}
.timeline-image img{
border-radius: 50%;
    height: 60px;
    width: 60px;
}
.timeline-item{
    width: 90%;
}
.timeline-name {
    display: flex;
    justify-content: space-between;
}
.created-at {
    text-align: right;
}
.timeline-post {
    margin: 2rem 0;
}
.icon{
    display: flex;
    justify-content: right;
}
.update-icon a img{
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}
.delete-icon a img{
    height: 40px;
    width: 40px;
}
.delete-icon a{
    display:block;
    background-image: url("images/trash.png") no-repeat left top;
    height: 40px;
    width: 40px;
}
.delete-icon a:hover{
    display:block;
    background-image: url("images/trash.png") no-repeat left top;
    height: 40px;
    width: 40px;
    text-indent:-240px;
    overflow: hidden;
}
/*参考
p .btn_A a {
display:block;
height:80px;
width:240px;
background:url(../images/bottan_B.jpg) no-repeat left top;
}
p .btn_A a:hover {
display:block;
height:80px;
width:240px;
text-indent:-240px;
background:url(../images/bottan_B.jpg) no-repeat left top;
overflow:hidden;
}
*/

/*フォローリスト*/
.follow-list{
    padding: 2rem 4rem;
    border-bottom: 2px solid gray;
}
.follow-list h2{
    font-size: 3rem;
}
.follow-icon{
    padding: 2rem 4rem 2rem 6rem;
}
.follow-icon a img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0 2rem 2rem 0;
}

/*検索画面*/
.search{
padding: 2rem 6rem;
    border-bottom: 2px solid gray;
}
.search-container{
    display: flex;
    align-items: center;
}
.search form{
    display: flex;
    align-items: center;
    width: 60%;
}
.search-wrapper{
    width: 80%;
}
.search_name{
    width: 100%;
    height: 4rem;
    border-radius: 4px;
    border: 1px solid #333;
}
.search-submit{
    margin-left: 2rem;
    height: 3rem;
}
.search-result{
    width: 40%;
}
.search-result p{
    font-size: 1.5rem;
}
.search-user{
    padding: 2rem 8rem;
}
.search-image{
    vertical-align: middle;
    width: 10%;
}
.search-username{
    vertical-align: middle;
    width: 70%;
}
.search-image img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 2rem 2rem 2rem 0;
    vertical-align: middle;
}
.search-button{
     vertical-align: middle;
}
.nofollow_button{
    color: #fff;
    width: 13rem;
    background-color: #B95656;
    border: none;
    padding: 1rem 0;
}
.follow_button{
    color: #fff;
    width: 13rem;
    background-color: #7F9BD9;
    border: none;
    padding: 1rem 0;
}
/*プロフィール編集*/
.profile{
    display: flex;
    padding: 8rem 12rem;
}
.profile-icon{
    width: 15%;
}
.profile-icon img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.profile-container{
    width: 85%;
}
.profile-item{
    display: flex;
    margin-bottom: 4rem;
}
.profile-item label{
    width: 25%;
    font-size: 1.5rem;
}
.profile-submit{
    color: #fff;
    width: 13rem;
    background-color: #7B9979;
    border: none;
    padding: 1rem 0;
    cursor: pointer;
}
.profile-box{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 1px solid #333;
    padding: 1.5rem;
    width: 50%;
}
.profile-bio{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 1px solid #333;
    padding: 1.5rem;
    width: 50%;
}
.profile-img{
    background-color: #F2F2F2;
    border: none;
    border-bottom: 1px solid #333;
    padding: 5rem 1.5rem;
    width: 50%;
}
.profile-btn{
    text-align: center;
}
